#Table
{

vertical-align:top;
width:30%;

}

#Contenu
{
width:60%;

margin-left: 2em;
padding-left:1em; 

}

section
{
display: inline-block;

}

body
{
background-image:url("Body.jpg");
color : White;
}

table
{

background: #333333;
border: 0.5em solid #333333;
border-radius: 1em;
font-family:sans-serif;
}

table tr td
{
text-align: right;
border: 1px solid black;

}

table th
{
text-align: right;
border:1px solid black;
background-color: #046380;
}

