@media screen and (min-width: 361px) and (max-width: 799px)
{
     #Table
{
background-color:#0B0B61;
margin-left:11em;
padding-left:1em;
border-radius:2em;
padding-right:1em;
display:inline-block;
margin-bottom:1em;
}
#Table #Table1F nav ul li 
{
width:35%;
display:inline-block;
padding:1em 0em 1em 1em;

}
#Formu #Contenu 
{
margin-left:10em;
padding:0em 5em 0em 5em;
}

#Table #Table1
{
width:35%;
display:inline-block;
vertical-align:top;
padding-left:2em;
}
#Table #Table2
{
width:50%;
display:inline-block;
vertical-align:top;
margin-left:2em;
}

#Contenu
{
padding:1em; 
background-color:#6E56DA;
border-radius:2em;
font-family:Calibri;
}

section
{
display: inline-block;
}

body
{
background-image:url("Frost.png");
color : White;
font-size:10pt;
line-height:15pt;
}

table
{

background: #333333;
border: 0.5em solid #333333;
border-radius: 1em;
font-family:sans-serif;
}

table tr td
{
text-align: right;
border: 1px solid black;

}

table th
{
text-align: right;
border:1px solid black;
background-color: #046380;
}

#Informations 
{
margin-bottom:1em;
background-color:#7517B8;
padding:1em;
border-radius:1em;
display:inline-block;
} 

#Respect
{background-color:#6C3D76;
padding:1em;
border-radius:1em;
margin-bottom:1em;
}

#Regle1
{
margin-bottom:1em;
background-color:#812F9C;
padding:1em;
border-radius:1em;
} 

#Regle2
{background-color:#9667C6;
padding:1em;
border-radius:1em;
}

#DescriptionA
{
border:2px solid black;
padding:0.5em;
width:30%;
vertical-align:top;
}
#profil
{width : 60%;
margin-left:0em;}
#profil img
{width:100%;}

#ParcoursProjet
{
margin-top:1em;
border:5px double black;
padding:0.5em;
}

header
{text-align:center;
font-size:15pt;
line-height:40px;
}

#UE11
{border:5px ridge black;
padding:1em;
margin:1em;
}

#UE12
{border:5px ridge black;
padding:1em;
margin:1em;
display:inline-block;
vertical-align:top;
}

#Contenu h2
{
text-align:center;
color:black;
line-height:15px;}

#LogoIut
{vertical-align:top,center;
}

#Regle1 h4,#Regle2 h4
{color:yellow;}

footer
{background-color:#0404B4;
padding-left:2em;}
}
}